/* index file css */

#login_button
{
	font-size:15px;
	height:30;
	width:75;
	padding:2;
	background-color:white; color:#00a99d;

	font-weight:bold;
}
/*
#mobile_button
{
	font-size:12px;
	height:30;
	width:150;
	background-color:red; color:#FFFFFF;
	border-top:#29447E;
	border-right-color:#29447E;
	border-bottom-color:#1A356E;
	border-left-color:#29447E;
	font-weight:bold;
}
*/
/* Sign Up */
.inputbox
{
	height:38;
	width:265;
	font-size:18px;
}
#sign_button
{
		background-color:white; 
        color:#00a99d;

	font-weight:bold;

	font-size:20px;
	height:40;
	width:112;
	font-weight:bold;
	box-shadow:5px 0px 10px 1px rgb(0,0,0);
}
